---
layout: base
---
  <table width="100%" height="100%" border="0">
    <tr>
      <td valign="top" align="left" style="padding:10px">
        <h1>{{page.title}}</h1>
        {{content}}
      </td>
    </tr>
    <tr height="75">
      <td>
        <div id="footer">
          <a href="http://github.org/christophevg/Canvas2D">github</a> |
          <a href="http://github.org/christophevg/Canvas2D/wiki">wiki</a> |
          <a href="http://twitter.com/Canvas2D">twitter</a>
          <span class="links" style="float:right">
            <a href="http://canvas2d.org">Canvas2D</a> 
            is a fun-project by <a href="http://christophe.vg">Christophe VG</a>
          </span>
        </div>
      </td>
    </tr>
  </table>